.TeaHomework{
    padding: 1.5rem;
    .title{
        
        .name{
            color: #151E26;
            font-size: 1.8rem;
            line-height: 2.5rem;
            font-weight: bold;
            overflow: hidden;
            .share_btn{
                width: 2.4rem;
                height: 2.4rem;
                flex-shrink: 0;
                margin-left: 1rem;
                font-size: 2.4rem;
                color: #979797;
                font-weight: normal;    
            }
        }
        .timer{
            color: rgba(21,30,38,0.35);
            line-height: 2rem;
            font-size: 1.4rem;
            margin-top: .4rem;
        }
    }
    .content_box{
        .text{
            color: rgba(21,30,38,0.75);
            line-height: 2.2rem;
            font-size: 1.6rem;
            margin-top: 1.5rem;
        }
        .img_box{
            margin-top: .9rem;
            overflow: hidden;
            .img_item{
                width: 11.1rem;
                height: 11.1rem;
                margin-top: .6rem;
                background: #D8D8D8;
                float: left;
                margin-right: .6rem;
                &:nth-child(3n+3){
                    margin-right: 0;
                }
            }
        }
        .audio_box{
            overflow: hidden;
            .audio{
                margin-top: 1.5rem;
                margin-right: 1.5rem;
                float: left;
                &:nth-child(even){
                    margin-right: 0;
                }
            }
        }
        .video_box{
            overflow: hidden;
            .video{
                margin-top: 1.5rem;
                margin-right: 1.5rem;
                float: left;
                &:nth-child(even){
                    margin-right: 0;
                }
            }
        }
    }
}