.picker_box{
    .transitionY{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: all .2s ease;
        transform: translate3d(0,100%,0);
    }
    .show{
        transform: translate3d(0,0,0);
    }
    .mask{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background:rgba(0,0,0,0.5);
        z-index: 99;
    }
}