
.WorkList{
	.title{
		height: 6.4rem;
		background:rgba(96,147,255,1);
		color: #fff;
		padding: 0 1.5rem;
		.name{
			font-size: 1.6rem;
			overflow : hidden;
			line-height: 2.2rem;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.manage{
			font-size: 1.4rem;
			color: #fff;
			flex-shrink:0;
			margin-left: 3.5rem;
			i{
				font-size: 1.8rem;
				margin-right: .4rem;
			}
		}
	}
	.list_box{
		position: absolute;
		top: 6.4rem;
		left: 0;
		bottom: 5rem;
		right: 0;
		.item{
			padding: 1.5rem 1.5rem 0;
			background: #fff;
			margin-top: 1rem;
			position: relative;
			.icon_demo{
                position: absolute;
                left: 0;
                top: 0;
                width: 6rem;
                height: 5.2rem;
                img{
					width: 100%;
					height: 100%;
				}
            }
			.name{
				color: #151E26;
				font-size: 1.8rem;
				line-height: 2.5rem;
				font-weight: bold;
			}
			.num{
				margin-top: 1rem;
				color: rgba(21,30,38,0.35);
				font-size: 1.3rem;
				line-height: 2.1rem;
				span{
					font-size: 1.5rem;
					color: #F5A623;
					margin-right: .5rem;
				}
			}
			.timer{
				margin-top: 1rem;
				color: rgba(21,30,38,0.35);
				font-size: 1.4rem;
				border-top: 1px solid #E5E5E5;
				line-height: 4rem;
				.del_btn{
					font-size: 2.4rem;
					color: #979797;
				}
				.blue_bg{
					background: #6093FF;
					color: #fff;
				}
				.hui_bg{
					background: #F8F8F8;
					color: rgba(21,30,38,0.5);
				}
				.type_btn{
					width: 5rem;
					height: 2rem;
					border-radius: .4rem;
					font-size: 1.1rem;
					line-height: 2rem;
					text-align: center;
				}
			}
		}
	}
	.tloader-footer .tloader-btn,.tloader-loading{
		font-size: 1.2rem;
		line-height: 5rem;
		color: rgba(21,30,38,.35);
	}
	.tloader-loading .ui-loading{
		font-size: 1.2rem;
		margin-right: .5rem;
	}
	.tloader{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
	}
}