.edit-info {
	height: 100vh;
	padding-top: 1rem;
	.input {
		font-size: 1.6rem;
		height: 4.4rem;
		line-height: 4.4rem;
		background: #ffffff;
		input:-webkit-autofill,select:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px white  inset !important;
		}   
		input{
			color:rgba(21,30,38,1);
			margin-left: 1.5rem;
			font-size: 1.6rem;
			height: 4.4rem;
			line-height: 4.4rem;
			outline-color: invert ;
			outline-style: none ;
			outline-width: 0px ;
			border: none ;
			border-style: none ;
			text-shadow: none ;
			-webkit-appearance: none ;
			-webkit-user-select: text ;
			outline-color: transparent ;
			box-shadow: none;
		} 
		.delete {
			float: right;
			margin: 1.5rem 1.5rem 0 0;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
    .button {
		margin: 5rem 0 0 1.5rem;
        height: 4.4rem;
        width: 34.5rem;
        border-radius: .8rem;
        font-size: 1.6rem;
        text-align: center;
        line-height: 4.4rem;
        color: #ffffff;
    }
}